# Database file
database/

# Pycache
__pycache__/

# Nginx configuration generator file
docker/nginx/config/nginx.conf

# Nginx log folder
docker/nginx/log

# Config file
config.py
# Environment file
.env

# FastAPI log folder
log/
