# Migrations
alembic==1.13.1

# SQLAlchemy
SQLAlchemy==2.0.29

# FastAPI
fastapi==0.110.1

# Uvicorn
uvicorn==0.29.0

# JWT
python-jose[cryptography]==3.3.0

# Bcrypt
passlib[bcrypt]==1.7.4

# Email validation
pydantic[email]==2.6.4

# Fastapi oathu2 form
python-multipart==0.0.9
